Diabetes Prediction - Train datasets using classification model:

In [1]:
import pandas as pd

print("Reading data: ")
diabetes_dataset = pd.read_csv("/Users/maheshg/Dropbox/Sample Datasets Kaggle/diabetes.csv")
diabetes_dataset.head(10)

Reading data:

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,NaN,NaN,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,NaN,NaN,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,NaN,NaN,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,NaN,NaN,44.0,41.0,300.0

In [21]:
diabetes_dataset.dropna(how="all")
diabetes_dataset.dropna(axis=1, how = "all")

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,NaN,NaN,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,Buckingham,29,female,64.0,218.0,large,112.0,68.0,NaN,NaN,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,Buckingham,67,male,67.0,119.0,large,110.0,50.0,NaN,NaN,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,NaN,NaN,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,Louisa,53,male,69.0,173.0,medium,138.0,94.0,130.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,Louisa,51,female,63.0,154.0,medium,140.0,100.0,146.0,102.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,Louisa,29,female,69.0,167.0,small,120.0,70.0,NaN,NaN,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,Louisa,41,female,63.0,197.0,medium,120.0,78.0,NaN,NaN,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,NaN,Louisa,68,female,64.0,220.0,medium,100.0,72.0,NaN,NaN,49.0,58.0,900.0

In [33]:
print(diabetes_dataset.isnull().values.any())

True

In [34]:
print(diabetes_dataset.isnull().sum().sum())

575

In [35]:
print(diabetes_dataset.isnull().sum())

id            0
chol          1
stab.glu      0
hdl           1
ratio         1
glyhb        13
location      0
age           0
gender        0
height        5
weight        1
frame        12
bp.1s         5
bp.1d         5
bp.2s       262
bp.2d       262
waist         2
hip           2
time.ppn      3
dtype: int64

Splitting the data :

In [55]:
diabetes_dataset.dropna(subset=['chol','time.ppn','hip','waist','bp.2d','bp.2s','bp.1d','bp.1s','frame','weight','height','gender','age','location','glyhb','ratio','hdl','stab.glu','chol'])

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
2,1002,228.0,92,37.0,6.2,4.640000,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
6,1011,195.0,92,41.0,4.8,4.840000,Buckingham,30,male,69.0,191.0,medium,161.0,112.0,161.0,112.0,46.0,49.0,720.0
8,1016,177.0,87,49.0,3.6,4.840000,Buckingham,45,male,69.0,166.0,large,160.0,80.0,128.0,86.0,34.0,40.0,300.0
10,1024,242.0,82,54.0,4.5,4.770000,Louisa,60,female,65.0,156.0,medium,130.0,90.0,130.0,90.0,39.0,45.0,300.0
15,1036,213.0,83,47.0,4.5,3.410000,Louisa,33,female,65.0,157.0,medium,130.0,90.0,120.0,96.0,37.0,41.0,240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,41254,169.0,104,58.0,2.9,4.820000,Louisa,25,female,60.0,154.0,medium,140.0,95.0,130.0,94.0,40.0,42.0,60.0
395,41500,179.0,85,50.0,3.6,4.990000,Louisa,37,male,66.0,136.0,medium,190.0,94.0,172.0,100.0,33.0,39.0,480.0
397,41503,301.0,90,118.0,2.6,4.280000,Louisa,89,female,61.0,115.0,medium,218.0,90.0,238.0,90.0,31.0,41.0,210.0
398,41506,296.0,369,46.0,6.4,16.110001,Louisa,53,male,69.0,173.0,medium,138.0,94.0,130.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,Louisa,51,female,63.0,154.0,medium,140.0,100.0,146.0,102.0,32.0,43.0,180.0

In [59]:
diabetes_dataset.fillna(0)

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,0.0,0.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,Buckingham,29,female,64.0,218.0,large,112.0,68.0,0.0,0.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,Buckingham,67,male,67.0,119.0,large,110.0,50.0,0.0,0.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,0.0,0.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,Louisa,53,male,69.0,173.0,medium,138.0,94.0,130.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,Louisa,51,female,63.0,154.0,medium,140.0,100.0,146.0,102.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,Louisa,29,female,69.0,167.0,small,120.0,70.0,0.0,0.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,Louisa,41,female,63.0,197.0,medium,120.0,78.0,0.0,0.0,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,0.000000,Louisa,68,female,64.0,220.0,medium,100.0,72.0,0.0,0.0,49.0,58.0,900.0

In [62]:
diabetes_dataset.fillna(method="ffill")

/var/folders/bt/k7t4mr2j6kq79jv3vbj756z80000gn/T/ipykernel_25343/2889170382.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  diabetes_dataset.fillna(method="ffill")

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,NaN,NaN,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,Buckingham,29,female,64.0,218.0,large,112.0,68.0,NaN,NaN,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,Buckingham,67,male,67.0,119.0,large,110.0,50.0,185.0,92.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,185.0,92.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,Louisa,53,male,69.0,173.0,medium,138.0,94.0,130.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,Louisa,51,female,63.0,154.0,medium,140.0,100.0,146.0,102.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,Louisa,29,female,69.0,167.0,small,120.0,70.0,146.0,102.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,Louisa,41,female,63.0,197.0,medium,120.0,78.0,146.0,102.0,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,4.490000,Louisa,68,female,64.0,220.0,medium,100.0,72.0,146.0,102.0,49.0,58.0,900.0

In [63]:
diabetes_dataset.describe

<bound method NDFrame.describe of         id   chol  stab.glu   hdl  ratio      glyhb    location  age  gender  \
0     1000  203.0        82  56.0    3.6   4.310000  Buckingham   46  female
1     1001  165.0        97  24.0    6.9   4.440000  Buckingham   29  female
2     1002  228.0        92  37.0    6.2   4.640000  Buckingham   58  female
3     1003   78.0        93  12.0    6.5   4.630000  Buckingham   67    male
4     1005  249.0        90  28.0    8.9   7.720000  Buckingham   64    male
..     ...    ...       ...   ...    ...        ...         ...  ...     ...
398  41506  296.0       369  46.0    6.4  16.110001      Louisa   53    male
399  41507  284.0        89  54.0    5.3   4.390000      Louisa   51  female
400  41510  194.0       269  38.0    5.1  13.630000      Louisa   29  female
401  41752  199.0        76  52.0    3.8   4.490000      Louisa   41  female
402  41756  159.0        88  79.0    2.0        NaN      Louisa   68  female

     height  weight   frame  bp.1s  bp.1d  bp.2s  bp.2d  waist   hip  time.ppn
0      62.0   121.0  medium  118.0   59.0    NaN    NaN   29.0  38.0     720.0
1      64.0   218.0   large  112.0   68.0    NaN    NaN   46.0  48.0     360.0
2      61.0   256.0   large  190.0   92.0  185.0   92.0   49.0  57.0     180.0
3      67.0   119.0   large  110.0   50.0    NaN    NaN   33.0  38.0     480.0
4      68.0   183.0  medium  138.0   80.0    NaN    NaN   44.0  41.0     300.0
..      ...     ...     ...    ...    ...    ...    ...    ...   ...       ...
398    69.0   173.0  medium  138.0   94.0  130.0   94.0   35.0  39.0     210.0
399    63.0   154.0  medium  140.0  100.0  146.0  102.0   32.0  43.0     180.0
400    69.0   167.0   small  120.0   70.0    NaN    NaN   33.0  40.0      20.0
401    63.0   197.0  medium  120.0   78.0    NaN    NaN   41.0  48.0     255.0
402    64.0   220.0  medium  100.0   72.0    NaN    NaN   49.0  58.0     900.0

[403 rows x 19 columns]>

In [69]:
print("Any remaining NaN values : ", diabetes_dataset.isnull().values.any())

Any remaining NaN values :  True

In [68]:
import numpy as np
diabetes_dataset.replace([np.inf, -np.inf],np.nan, inplace=True)
diabetes_dataset.fillna(0)

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,0.0,0.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,Buckingham,29,female,64.0,218.0,large,112.0,68.0,0.0,0.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,Buckingham,67,male,67.0,119.0,large,110.0,50.0,0.0,0.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,0.0,0.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,Louisa,53,male,69.0,173.0,medium,138.0,94.0,130.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,Louisa,51,female,63.0,154.0,medium,140.0,100.0,146.0,102.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,Louisa,29,female,69.0,167.0,small,120.0,70.0,0.0,0.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,Louisa,41,female,63.0,197.0,medium,120.0,78.0,0.0,0.0,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,0.000000,Louisa,68,female,64.0,220.0,medium,100.0,72.0,0.0,0.0,49.0,58.0,900.0

In [65]:
diabetes_dataset.fillna(0)

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.310000,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,0.0,0.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.440000,Buckingham,29,female,64.0,218.0,large,112.0,68.0,0.0,0.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.640000,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.630000,Buckingham,67,male,67.0,119.0,large,110.0,50.0,0.0,0.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.720000,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,0.0,0.0,44.0,41.0,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,41506,296.0,369,46.0,6.4,16.110001,Louisa,53,male,69.0,173.0,medium,138.0,94.0,130.0,94.0,35.0,39.0,210.0
399,41507,284.0,89,54.0,5.3,4.390000,Louisa,51,female,63.0,154.0,medium,140.0,100.0,146.0,102.0,32.0,43.0,180.0
400,41510,194.0,269,38.0,5.1,13.630000,Louisa,29,female,69.0,167.0,small,120.0,70.0,0.0,0.0,33.0,40.0,20.0
401,41752,199.0,76,52.0,3.8,4.490000,Louisa,41,female,63.0,197.0,medium,120.0,78.0,0.0,0.0,41.0,48.0,255.0
402,41756,159.0,88,79.0,2.0,0.000000,Louisa,68,female,64.0,220.0,medium,100.0,72.0,0.0,0.0,49.0,58.0,900.0

In [60]:
print(diabetes_dataset.isnull().values.any())

True

In [45]:
diabetes_dataset.columns

Index(['id', 'chol', 'stab.glu', 'hdl', 'ratio', 'glyhb', 'location', 'age',
       'gender', 'height', 'weight', 'frame', 'bp.1s', 'bp.1d', 'bp.2s',
       'bp.2d', 'waist', 'hip', 'time.ppn'],
      dtype='object')

In [70]:
diabetes_dataset.info

<bound method DataFrame.info of         id   chol  stab.glu   hdl  ratio      glyhb    location  age  gender  \
0     1000  203.0        82  56.0    3.6   4.310000  Buckingham   46  female
1     1001  165.0        97  24.0    6.9   4.440000  Buckingham   29  female
2     1002  228.0        92  37.0    6.2   4.640000  Buckingham   58  female
3     1003   78.0        93  12.0    6.5   4.630000  Buckingham   67    male
4     1005  249.0        90  28.0    8.9   7.720000  Buckingham   64    male
..     ...    ...       ...   ...    ...        ...         ...  ...     ...
398  41506  296.0       369  46.0    6.4  16.110001      Louisa   53    male
399  41507  284.0        89  54.0    5.3   4.390000      Louisa   51  female
400  41510  194.0       269  38.0    5.1  13.630000      Louisa   29  female
401  41752  199.0        76  52.0    3.8   4.490000      Louisa   41  female
402  41756  159.0        88  79.0    2.0        NaN      Louisa   68  female

     height  weight   frame  bp.1s  bp.1d  bp.2s  bp.2d  waist   hip  time.ppn
0      62.0   121.0  medium  118.0   59.0    NaN    NaN   29.0  38.0     720.0
1      64.0   218.0   large  112.0   68.0    NaN    NaN   46.0  48.0     360.0
2      61.0   256.0   large  190.0   92.0  185.0   92.0   49.0  57.0     180.0
3      67.0   119.0   large  110.0   50.0    NaN    NaN   33.0  38.0     480.0
4      68.0   183.0  medium  138.0   80.0    NaN    NaN   44.0  41.0     300.0
..      ...     ...     ...    ...    ...    ...    ...    ...   ...       ...
398    69.0   173.0  medium  138.0   94.0  130.0   94.0   35.0  39.0     210.0
399    63.0   154.0  medium  140.0  100.0  146.0  102.0   32.0  43.0     180.0
400    69.0   167.0   small  120.0   70.0    NaN    NaN   33.0  40.0      20.0
401    63.0   197.0  medium  120.0   78.0    NaN    NaN   41.0  48.0     255.0
402    64.0   220.0  medium  100.0   72.0    NaN    NaN   49.0  58.0     900.0

[403 rows x 19 columns]>

In [71]:
diabetes_dataset.dropna(axis=1, how="all")
diabetes_dataset.dropna(axis=1, how="any")

        id  stab.glu    location  age  gender
0     1000        82  Buckingham   46  female
1     1001        97  Buckingham   29  female
2     1002        92  Buckingham   58  female
3     1003        93  Buckingham   67    male
4     1005        90  Buckingham   64    male
..     ...       ...         ...  ...     ...
398  41506       369      Louisa   53    male
399  41507        89      Louisa   51  female
400  41510       269      Louisa   29  female
401  41752        76      Louisa   41  female
402  41756        88      Louisa   68  female

[403 rows x 5 columns]

In [74]:
print("Any remaining NaN values:",diabetes_dataset.isnull().values.any())

Any remaining NaN values: True

In [75]:
print("Splitting the data into features and labels:")

# X, y = diabetes_dataset[['age','stab.glu','height','weight','bp.1s', 'bp.1d', 'bp.2s',
#        'bp.2d']].values, diabetes_dataset['chol'].values

X, y = diabetes_dataset[['age','height','weight','bp.1s', 'bp.1d']].values, diabetes_dataset['chol'].values

Splitting the data into features and labels:

Splitting into Train and Test Set data:

In [76]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=30, random_state=0)

Train Model using Logistic Regression (Classification Type)

In [77]:
from sklearn.linear_model import LogisticRegression
print("Training model:")
model = LogisticRegression(C=1/0.1, solver="liblinear").fit(X_train,y_train)

Training model:

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values